.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.synthesizedText {
  min-height: 25vh;
  width: 98vw;
  font-size: 16pt;
  padding: 1vh;
  margin: 5vh auto;
  border: 0px;
  outline: none;
}

.synthesizeButton {
  font-size: 24pt;
  width: 30vw;
}

.inputText {
  min-height: 25vh;
  width: 98vw;
  font-size: 16pt;
  padding: 1vh;
  margin: 1vh auto;
}

.playButton {
  width: 30vw;
  font-size: 24pt;
}

.invisibleText {
  color: gray;
  background-color: gray;
}

.visible {
  color: black;
  background-color: white;
}
